@page "/HowToStart"
<h3>How to start</h3>

<p>
    1. Setup database connection on the <a href="/settings">Settings page</a><br>
    2. Add at least one account on the <a href="/accounts">Accounts page</a><br>
    3. Add clients on the <a href="/clients">Clients page</a><br>
    4. Synchronise on the <a href="/">Home page</a><br>
    5. Read messages and send answers on the <a href="/messages">Messages page</a><br>
</p>


@code {

}
