/* The alert message box */
.alert[b-iwa005gquj] {
  padding: 20px;
  background-color: red; /* Red */
  color: white;
  margin-bottom: 15px;
}

.success[b-iwa005gquj] {
  padding: 20px;
  background-color: green; /* green */
  color: white;
  margin-bottom: 15px;
}

.warning[b-iwa005gquj] {
  padding: 20px;
  background-color: darkorange; /* green */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn[b-iwa005gquj] {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover[b-iwa005gquj] {
  color: black;
}